<script type="text/javascript">
  // function initialize() {
  //   var mapOptions = {
  //     center: new google.maps.LatLng(4, 23),
  //     zoom: 4,
  //     mapTypeId: google.maps.MapTypeId.ROADMAP
  //   };
  //   var map = new google.maps.Map(document.getElementById("map-canvas"),
  //       mapOptions);
  // }
  // google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="container">
    <div class="row">
        <google-map center="center" class="col-md-9" draggable="true" zoom="zoom" markers="markers" mark-click="true"></google-map>
        <div id="map-pane" class="col-md-3">
              <input ng-model="markerLat" type="text"/>
              <input ng-model="markerLng" type="text"/>
              <button class="btn" ng-click="addMarker()">add</button>
                
        </div>
    </div>
</div>
